<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2>Admin Dashboard</h2>

<table border="1">
    <tr>
        <th>User ID</th>
        <th>Crop</th>
        <th>Disease</th>
        <th>Time</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}

</table>

<a href="/dashboard">Back</a>

</body>
</html>